 <h1>All Jobs</h1>

 <% @jobs.each do |job| %>
      <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to job.title, job %>
       </h4>
     </div>
   </div>
 <% end %>