// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test { 
    
    float: left;
    width: 40%;
    height: 50px;
    margin-right: 10px;

}

.after-box {
    clear: left;
    margin-top: 100px;
}